<header class="bar bar-nav">
  <h1 class="title">Login</h1>
</header>
<main class="content">
  <form action="/login-submit" method="POST">
    <div class="content-padded">
      <div class="input-group">
        <div class="input-row">
          <label for="Email">Email</label>
          <input type="email" name="Email">
        </div>
        <div class="input-row">
          <label for="Password">Password</label>
          <input type="password" name="Password">
        </div>
      </div>
    </div>
    <div class="content-padded">
        <input class="btn btn-positive btn-block" type="submit">
    </div>
  </form>
</main>